@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Serat Serif";
  font-weight: 400;
  src: url("/fonts/sani.ttf");
}

@font-face {
  font-family: "Neue Haas Bold";
  font-weight: 400;
  src: url("/fonts/NeueHaasDisplayBold.ttf");
}

@font-face {
  font-family: "Neue Haas Light";
  font-weight: 400;
  src: url("/fonts/NeueHaasDisplayLight.ttf");
}

@font-face {
  font-family: "New York";
  font-weight: 400;
  src: url("/fonts/NewYork.otf");
}

html,
body {
  scrollbar-width: 0px;
  scrollbar-color: transparent;
  padding: 0;
  margin: 0;
  background-color: #111313;
}

.titleHTML {
  font-family: "Neue Haas Bold";
}

.theme-gris {
  --mainBg: theme("colors.offBlack");
  --mainText: theme("colors.offWhite");
}

.theme-maroon {
  --mainBg: theme("colors.strand");
  --mainText: theme("colors.maroon");
}

.theme-mar {
  --mainBg: theme("colors.amarillo");
  --mainText: theme("colors.azul");

}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

#break {
  word-break: break-all !important;
}

@media (min-width: 768px) {
  #break {
    word-break: break-word !important;
  }
}

